<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List</title>
</head>
<body>

<h1> Add item:</h1>
<form action="/shopping_list/" method="post">
    {% csrf_token %}
    <input type="text" name="item" placeholder="Item">
    <input type="number" name="amount" placeholder="Amount">
    <select name="shop">
        {% for shop in shops %}
        <option value ="{{ shop.id }}">{{ shop.name }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Add">


<br>
<h1>List of items:</h1>
    {% for item in shopping_list_data %}
        <p> {{ item.item_id.name }} {{ item.quantity }} {{item.item_id.shop_id.name}}
            <a href="/shopping_list/add" target="_blank" > <input type="button" value="Add to my list"></a>

            <a href="/shopping_list/{{ item.item_id.id }}/buy" target="_blank" > <input type="button" value="Buy"></a>
                <form method="post" action="/shopping_list/{{ item.item_id.id }}/buy">

            <form method="post" action="/shopping_list/{{ item.item_id.id }}/remove">
                <input type="submit" value="Remove">


{% endfor %}


</form>
</body>
</html>